<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees | Assignment</title>
    <!-- css -->
    <link rel="stylesheet" href="./employees.css" />
  </head>
  <body>
    <!-- navigation -->
    <nav>
      <div class="nav-container">
        <div class="logo">
          <h1>Ilham Rahman Assignment</h1>
        </div>
        <div class="links">
          <div class="link">
            <a href="../../index.html">Home</a>
          </div>
          <div class="link">
            <a href="../registration/registration.html"
              >Register New Employee</a
            >
          </div>
          <div class="link">
            <a href="./employees.html">View Sample Employee List</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- main section -->
  </body>
</html>
